
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c29009; height: 100%">
  <a class="navbar-brand" [routerLink]="['/home']"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" style="color: white" [routerLink]="['/home']">HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: white" [routerLink]="['/about']">ABOUT</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" style="color: white" [routerLink]="['/register']">REGISTER</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" style="color: rgb(250, 204, 0)" [routerLink]="['/login']">LOGIN</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" style="color: white" [routerLink]="['/transplantRequest']">TRANSPLANT REQUESTS</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" style="color: white" [routerLink]="['/patient']">PATIENTS</a>

      </li>
      <li class="nav-item" *ngIf=" loggedIn()">
        <app-logout></app-logout>
      </li>
    </ul>
  </div>
</nav>


